
:root {
  --black-bg: #000;
  --global-padding: 96px;
}


 body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black-bg);
    color: #fff;
    background-image: url("public/lp-bg.webp");
  }
  /*
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
   */


@import url(https://db.onlinewebfonts.com/c/a38b858d01bf577b0ea0758e29388f93?family=ABC+Normal+Semibold);

@font-face {
    font-family: "ABC Normal Semibold";
    src: url("https://db.onlinewebfonts.com/t/a38b858d01bf577b0ea0758e29388f93.eot");
    src: url("https://db.onlinewebfonts.com/t/a38b858d01bf577b0ea0758e29388f93.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a38b858d01bf577b0ea0758e29388f93.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a38b858d01bf577b0ea0758e29388f93.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a38b858d01bf577b0ea0758e29388f93.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a38b858d01bf577b0ea0758e29388f93.svg#ABC Normal Semibold")format("svg");
}


@font-face {
    font-family: "ABC Normal Book";
    src: url("https://db.onlinewebfonts.com/t/bad5d85dec62adc89f2f88300b74dd63.eot");
    src: url("https://db.onlinewebfonts.com/t/bad5d85dec62adc89f2f88300b74dd63.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bad5d85dec62adc89f2f88300b74dd63.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bad5d85dec62adc89f2f88300b74dd63.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bad5d85dec62adc89f2f88300b74dd63.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bad5d85dec62adc89f2f88300b74dd63.svg#ABC Normal Book")format("svg");
}

@import url(https://db.onlinewebfonts.com/c/02ce6845d62b667c5c60bdaacdc77aa6?family=FSP+DEMO+-+Juana+Light);
@font-face {
  font-family: "FSP DEMO - Juana Light";
  src: url("https://db.onlinewebfonts.com/t/02ce6845d62b667c5c60bdaacdc77aa6.eot");
  src: url("https://db.onlinewebfonts.com/t/02ce6845d62b667c5c60bdaacdc77aa6.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/02ce6845d62b667c5c60bdaacdc77aa6.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/02ce6845d62b667c5c60bdaacdc77aa6.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/02ce6845d62b667c5c60bdaacdc77aa6.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/02ce6845d62b667c5c60bdaacdc77aa6.svg#FSP DEMO - Juana Light")format("svg");
}

  .nav-font {
    font-size: 14px;
    font-weight: 300;
    font-family: "ABC Normal Semibold";
    letter-spacing: 1px;
  }
  .title-font {
    font-family: "ABC Normal Semibold";
  }

  .custom-nav {
    padding: 20px 40px;
  }

  .img-margin-right {
    margin-right: 80px;
  }

  .custom-button {
    background-color: #EEB75D;
    color: #000;
    padding: 10px 20px;
    border-radius: 1px;
  }

  .custom-button:hover {
    background-color: rgb(250, 211, 147);
    color: #000;
  }

  .margin-lr-ten {
    margin-left: 10px;
    margin-right: 10px;
  }

  .font-h1 {
    font-size: 64px;
    font-family: "FSP DEMO - Juana Light";
    font-weight: 300;
    line-height: 78px;
  }

  .font-h2 {
    font-size: 34px;
    font-family: "FSP DEMO - Juana Light";
    font-weight: 400;
    line-height: 43px;
  }

  .head-font {
    font-family: "FSP DEMO - Juana Light";
  }

  .body-font {
    font-family: "ABC Normal Book";
  }
  
  .height-body {
    height: 100vh;
  }
  .body-font-juana {
    font-family: "FSP DEMO - Juana Light";
  }
  .footer-font {
    font-size: 14px;
    font-family: "ABC Normal Book";
    font-weight: 200;
    
  }
  .global-container {
    max-width: 1000px;
    padding-top: 60px;
  }
  .inner-container {
    max-width: 800px;
    left: 0;
  }
  .contact-number p {
    border-bottom: 2px solid #EEB75D;
    padding-bottom: 5px;
}

.contact-number p:hover {
    color: #EEB75D;
}

.footer-font-link {
  opacity: .8;
}
.footer-font-link:hover {
    opacity: 1;
}

.lp-link {
  color:  #EEB75D;
  font-weight: 500;
  text-decoration: none;
}
.lp-link:hover {
  color: rgba(255,255,255,0.8);

}

.lp-link-footer {
  color:  rgba(255,255,255,0.8);
  font-weight: 500;
  text-decoration: none;
}
.lp-link-footer:hover {
  color: #fff;

}

